<% content_for :head do %>
    <script type="text/javascript" charset="utf-8">
        
        function clear_search()
        {
            $('#search_set_posts').html("");
            $('#search_set_search_query_string').val("");
        }
                
        function search_key_changed()
        {
            if($('#search_set_search_query_string').val().length > 3)
            {
                $.get("/posts?search=" + $('#search_set_search_query_string').val(), function(data){
                    $('#search_set_posts').html(data);
                });
            }
            else
                $('#search_set_posts').html("");
        }
        
        $(document).ready(function(){
            $('#search_set_search_query_string').keyup(function(){
                search_key_changed();
            });
            
            $('#new_search_set').submitWithAjax();
            $('.delete_set').submitWithAjax();
        });
        
    </script>
<% end %>

<div id="search_set">
    <%= render :template => "search_sets/_form", :locals => { :@search_set => SearchSet.new } %>    
</div>

<div id="search_set_posts">
    
</div>

<% @search_sets.each do |search_set| %>
    <%= render :template => "search_sets/_index_set", :locals => { :search_set => search_set} %>
<% end %>

<% content_for :sub_container do %>
    <h3>Create Post</h3>
    <%= render :template => "posts/_form", :locals => { :@post => Post.new } %>
<% end %>