body { margin:0px; padding:0px; background-color: #333; color:#fff; font-family: Arial, "MS Trebuchet", sans-serif; }
#header_container { margin:0px; padding:20px; margin-bottom:20px; }
#notice { text-align: center; margin:0px auto; padding:5px; background-color:#F7F8E0; border: 1px solid #B45F04; border-top:none; color:#000; width:400px; font-size: 0.8em; }
#title a { color:#fff; text-decoration: none; float:left; font-size: 1.2em;}
#title_right { float:right; }
#main_container { padding:20px; background-color: #fff; color:#000; } 
#sub_container { padding:20px; }

.post { margin-bottom: 20px; }
#post_body, #post_title { width:98%; padding:5px; }
.author_container { float:left; width:100px; }
.post_container { margin-left:100px; }
.single_post_container { margin-bottom:50px; }
.author_container { font-size: 0.8em; }
.post_title { margin-bottom:15px; font-size:1.0em; font-weight: bold; }
.post_body { font-size: .8em;}

#search_set { font-size: 1.0em; background-color: #CCCCFF; padding:10px; color:#000;  }
#search_set_search_query_string { font-size: 0.9em; margin-left:5px; width:400px; }

.saved_search_title { font-size: 1.0em; background-color: #CCC; padding:10px; color:#000; }
.saved_search_set 	{  background-color: #DDD; margin: 10px 0px 10px 0px; }
.search_topic_table { margin:5px; font-size: 0.8em; }
.search_topic_table th { text-align: left; font-size:.6em; padding:5px 0px 5px 0px; ;  }
.search_set_summary { font-size: .7em; color:#333; padding:5px 0px 5px 0px; }
.search_topic_table th td { margin:0px; }
.topic_cell { width:100%; }
.delete_button { float:right; }