<div id="post_container">
    <% @posts.each do |post| %>
        <div class="post">
            <div class="post_title"><%= link_to post.title, post %></div>
            <div class="post_meta">Replies: <%= post.replies.count %> Posted <%= time_ago_in_words(post.created_at) %> ago</div>
        </div>
    <% end %>
</div>