<table class="search_topic_table">
    <tr>
        <th>Topic</th>
        <th>Replies</th>
        <th>Author</th>
    </tr>
    <% @posts.each do |post| %>
        <tr>
            <td class="topic_cell"><%= link_to post.title, post %></td>
            <td><%= post.replies.count %></td>
            <td class="author_cell"><%= post.author_name %></td>
        </tr>
    <% end %>
</table>